form{
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
}
#resultat{
    margin-top: 50px;
    text-align: center;
}